<?xml version="1.0"?>
<launch>

  <arg name="input_pointcloud_topic" default="/arm_cam3d/depth_registered/points" />
  <arg name="target_frame" default="odom" />
  <arg name="classifier" default="asus-nagoya" />

  <include file="$(find mcr_scene_segmentation)/ros/launch/scene_segmentation.launch" >
    <arg name="input_pointcloud_topic" value="$(arg input_pointcloud_topic)" />
    <arg name="target_frame" value="$(arg target_frame)" />
  </include>

  <node pkg="mcr_object_recognition_mean_circle" type="object_recognizer" name="object_recognizer"
          output="screen" ns="mcr_perception">
    <param name="classifier" value="$(arg classifier)" type="str" />
  </node>

</launch>
